WPF_MVVM/HelloWorldWPF/HelloWorldWPF/obj/Debug/MainWindow.g.cs
WPF_MVVM/HelloWorldWPF/HelloWorldWPF/obj/Debug/MainWindow.g.i.cs
WPF_MVVM/HelloWorldWPF/HelloWorldWPF/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WPF_MVVM/HelloWorldWPF/HelloWorldWPF/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WPF_MVVM/HelloWorldWPF/HelloWorldWPF/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WPF_MVVM/WPF_MVVM/obj/Debug/MainWindow.g.i.cs
WPF_MVVM/WPF_MVVM/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WPF_MVVM/WPF_MVVM/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WPF_MVVM/WPF_MVVM/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WPF_MVVM/HelloWorldWPF/HelloWorldWPF/obj/Debug/MainWindow.baml
WPF_MVVM/HelloWorldWPF/HelloWorldWPF/obj/Debug/App.g.cs
WPF_MVVM/HelloWorldWPF/HelloWorldWPF/obj/Debug/App.g.i.cs
WPF_MVVM/HelloWorldWPF/HelloWorldWPF/obj/Debug/HelloWorldWPF.g.resources
WPF_MVVM/HelloWorldWPF/HelloWorldWPF/obj/Debug/HelloWorldWPF_MarkupCompile.lref
WPF_MVVM/Animations/obj/Debug/Animations_MarkupCompile.i.lref
WPF_MVVM/Trigger/obj/Debug/Trigger_MarkupCompile.i.lref
